* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#banner{
  background-color: aqua;
  width: 100%;
  height: 325px;
  z-index: -2;
}

/* .launchButton{
  margin: auto
} */

.basic_text{
  /* style="font-family: 'Courier New', Courier, monospace; margin: auto; display: flex; text-align: center; margin-top: 40px; ;" */
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin-top: 40px;
  animation: alternate-reverse;
}

/* style="margin: auto; display: flex; margin-top: 50px; cursor: pointer;"  */

/* style="background-color: #FF8000; font-size: 30px; color: white; margin: auto; display: flex; margin-top: 50px; cursor: pointer;" */

.launch_button{
  background-color: #FF8000;
  font-size: 30px;
  color: white;
  margin: auto;
  display: flex;
  cursor: pointer;
  border-radius: 5px;
  border-color: white;
}

.launch_button:hover{
  background-color: #ffee00;
  color: #FF8000;
}

ul li{
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  z-index: 5;
  cursor: pointer;
}