

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* body {
  background-color: black;
  background-image: radial-gradient(white 1px, transparent 1px);
  background-size: 40px 40px;
} */

#stars {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}


#banner{
  /* background-color: rgb(0, 0, 0); */
  width: 100%;
  height: 325px;
  z-index: -2;
}

/* .launchButton{
  margin: auto
} */

.basic_text{
  /* style="font-family: 'Courier New', Courier, monospace; margin: auto; display: flex; text-align: center; margin-top: 40px; ;" */
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin-top: 40px;
  animation: alternate-reverse;
  color: white;
}

/* style="margin: auto; display: flex; margin-top: 50px; cursor: pointer;"  */

/* style="background-color: #FF8000; font-size: 30px; color: white; margin: auto; display: flex; margin-top: 50px; cursor: pointer;" */

.launch_button{
  background-color: #000000;
  font-size: 25px;
  color: #ffffff;
  margin: auto;
  display: flex;
  cursor: pointer;
  border-radius: 25px;
  border-color: white;
}

.launch_button:hover{
  color: #000000;
  background-color: #FFFFFF;
  /* #FF8000 */
}

ul li{
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  z-index: 5;
  cursor: pointer;
  color: white;
}